body {
  background-color: rgba(176, 146, 179, 1);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Noto Sans", sans-serif;
}
footer {
  border-top: 1px solid rgba(76, 61, 112, 0.146);
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
}
a {
  color: rgba(76, 61, 112, 0.779);
}
main {
  padding: 30px 0;
}
strong {
  color: rgba(104, 49, 143, 0.779);
  font-weight: 500;
}
.weather-app {
  background-color: #dcd5db;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 600px;
  padding: 25px;
  box-shadow: 0 30px 50px rgba(76, 61, 112, 0.779);
  border-radius: 20px;
}
.weather-app-temp-container {
  display: flex;
  margin-top: 10px;
}
.weather-app-temp {
  font-size: 75px;
  font-weight: bold;
}
.weather-app-icon {
  font-size: 40px;
  margin-top: 4px;
  margin-left: 22px;
  margin-right: 10px;
}
.weather-app-unit {
  margin-top: 15px;
  font-size: 25px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-direction: row;
}
.weather-forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #6b5f88;
  font-weight: bold;
}
.weather-forecast-icon {
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}
.weather-forecast-temperatures {
  color: rgba(104, 49, 143, 0.779);
  text-align: center;
  display: flex;
  justify-content: centre;
}
.weather-forecast-temperature {
  padding: 0 10px;
  font-weight: bold;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 25px;
  color: rgba(76, 61, 112, 0.559);
}

.search-form-input {
  background-color: rgba(176, 146, 179, 1);
  border: none;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  margin-left: 11px;
}
.search-form-submit {
  background-color: rgba(76, 61, 112, 0.779);
  color: #dcd5db;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 10px;
  margin-left: 15px;
}
